/* CSS for main Landing page */

* {
  box-sizing: border-box;
}

/* Set up body and HTML styles */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* The image used as background*/
.bg {
  background-image: url("daniil-silantev-F6Da4r2x5to-unsplash.jpg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navigation bar */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

nav ul li {
  position: relative;
  margin: 0 10px;
  list-style: none;
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
}

nav ul li a {
  text-decoration: solid;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.nav a:hover {
  color: rgb(191, 191, 191);
}

/* Display class styling */
.display {
  color: white;
  margin-top: 10%;
  margin-left: 5%;
  font-size: 16px;
}

/* Name class styling */
.name {
  color: white;
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}

/* Scroller animation */
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 7s infinite;
  font-weight: bold;
}

/* Scroller animation keyframes */
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
}

/* Article styling */
article {
  margin: 100px;
  color: #005B41;
  font-size: larger;
  line-height: 160%;
}

/* Reveal class styling */
.reveal {
  position: relative;
  transform: translateY(10px);
  opacity: 0;
  transition: 1s all ease;
}

/* Active reveal class styling */
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Intro section styling */
.intro {
  background: #196d22;
  color: white;
  text-transform: uppercase;
  padding: 100px 0;
}

/* Container styling */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* Heading 1 styling */
h1 {
  font-size: 2.5rem;
}

/* Grid container styling */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: -10px;
}

/* Grid item styling */
.grid-item {
  margin-top: 80px;
  padding: 10px;
  color: #005B41;
  font-size: larger;
  line-height: 160%;
}

/* Centered image styling */
.centered-image {
  width: 350px;
  display: block;
  margin: 0 auto;
}

/* Styled horizontal rule */
.styled-hr {
  border: none;
  height: 2px;
  background-color: #196d22;
  margin: 50px;
}

/* Timeline styling */
.timeline ul {
  background: #ffffff;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #196d22;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #196d22;
  color: white;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #196d22 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #196d22;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* Effects for timeline */
.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #f45b69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}


/* Headings styling */
.heading {
  font-size: 48px;
  margin-bottom: 50px;
}

.main-heading {
  text-align: center;
  font-size: 48px;
  color: #ffffff;
  padding: 8%;
  background-color: #196d22;
  margin-bottom: 0%;
  margin-top: 0%;
  text-align: center;
  text-transform: uppercase;
}

/* Right-aligned text styling */
.right-align {
  margin: 100px;
  margin-inline-start: 55%;
  font-size: large;
  line-height: 150%;
}

/* Left-aligned text styling */
.left-align {
  margin: 100px;
  margin-inline-end: 55%;
  font-size: large;
  line-height: 150%;
}

/* Image styling */
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Gallery styling */
.gallery {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  padding: 5%;
  background-color: #196d22;
  margin-bottom: 0%;
  margin-top: 0%;
  text-align: center;
}

/* Gallery picture styling */
.gallery-pic {
  height: 95%;
  width: 95%;
}

/* Button 1 styling */
.button {
  border: none;
  background-color: green;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  border-color: #04AA6D 2px solid;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  text-decoration: none;
}

/* Button hover styling */
.button:hover{
  color: #dadada;
}

/* Row styling */
.row {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

/* Column styling */
.column {
  flex: 33.33%;
  
}

/* Center-aligned text styling */
.center {
  text-align: center;
}

/* button 2  styling */
.button2 {
  border: none;
  background-color: green;
  text-align: center;
  font-size: 20px; 
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border-color: #04AA6D 2px solid;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  text-decoration: none;
}

/* Button hover styling */
.button2:hover{
  color: #dadada;
}

/* Footer styling */
.footer {
  background: #196d22;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

/* Footer */
.footer .row1 {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
}

.footer .row1 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.footer .row1 a:hover {
  color: #bababa;
}

.footer .row1 ul {
  width: 100%;
}

.footer .row1 ul li {
  display: inline-block;
  margin: 0px 30px;
  font-size: 1.2em;
}

.footer .row1 a i {
  font-size: 2em;
  margin: 0% 1%;
}


/* Media queries for timeline*/
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #196d22 transparent transparent;
  }
}

/* Media query up to 480px */
@media screen and (max-width: 480px) {
  body {
    max-width: 100%;
    margin: 0;
}

.bg{
  max-width: 100%;
  height: 95%;
}

p{
  font-size: 18px;
}

/* CSS for logo to move it above navigation bar 
and nav bar is horizontally placed in a column using flex*/
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.nav img {
  margin-bottom: 6px;
  width: 100px;
  height: 100px;
  order: 1; 
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  order: 2; 
}

.nav ul li {
  display: block;
  margin-right: 5px; 
}

.nav ul li a {
  text-decoration: none;
  color: white;
}

/* Reducing the font sizes, margins and paddings of elements*/
.display{
  margin-top: -5px;
  margin-left: 3%;
  padding: 10px;
}
.name{
  font-size: 30px;
}
h1, span{
  font-size: 25px;
}
article{
  margin: 30px;
}

/* items displayed in one column with full width */
.grid-container{
  display: grid;
  grid-row: 1;
  grid-template-columns: 100%;
  order: 1;
}

/* Style for the grid items*/
.grid-item {
  margin-top: 10px;
  padding: 10px;
  color: #005B41;
  font-size: larger;
  line-height: 150%;
}

/* CSS to center images */
.centered-image {
  width: 400px;
  display: block;
  margin: 0 auto;
}

/* Reducing the font sizes, margins and paddings */
.intro {
  background: #196d22;
  color: white;
  text-transform: uppercase;
  padding: 50px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.container h1{
  font-size: 25px;
}

.timeline ul{
  margin: 10px;
}

/* Headings styling */
.heading {
  font-size: 35px;
  line-height: 140%;
  margin-top: 0;
  margin-bottom: 8%;
  text-align: center;
}

.main-heading {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  padding: 8%;
  background-color: #196d22;
  margin-bottom: 0%;
  margin-top: 0%;
  text-align: center;
  text-transform: uppercase;
}

/* Reducing the paddings */
.aside .right-align, .left-align{
  margin: 30px;
}

/* Right-aligned text styling */
.right-align {
  margin: 25px;
  padding: 15px;
  font-size: 18px;
  line-height: 150%;
}

/* Left-aligned text styling */
.left-align {
  margin: 25px;
  padding: 15px;
  font-size: 18px;
  line-height: 150%;
}

/* Image styling */
aside img {
  padding-top: 8%;
  padding-bottom: 0;
}

/* buttons 1 and 2 styling */
.button {
  float: right;
  border: none;
  background-color: green;
  text-align: center;
  font-size: 16px; 
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border-color: #04AA6D 2px solid;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  text-decoration: none;
}

.button2 {
  border: none;
  background-color: green;
  text-align: center;
  font-size: 16px; 
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border-color: #04AA6D 2px solid;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  text-decoration: none;
}

/* Gallery styling */
.gallery{
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  padding: 5%;
  background-color: #196d22;
  margin-bottom: 0%;
  margin-top: 20%;
  text-align: center;
}

/* items displayed in one column with full width */
.row {
  display: flex;
  margin-right: 16px;
  flex-direction: column; 
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* Additional styling for images */
.gallery-pic {
  width: 100%;
  height: auto;
}

/* Footer CSS to make them appear in a single cloumn */
.row1 ul {
  display: grid;
  grid-row: 1;
  grid-template-columns: 100%; 
  padding: 0; 
  margin-top: 4%;
  margin-bottom: 6%;
}

.row1 ul li {
  text-align: left;
  margin: 0;
  padding-bottom: 6%;
}

.row1 ul li a{
  font-size: 16px;
}

.row1 p{
  font-size: 16px;
  text-align: center; 
  margin: 5%;
}

.row1 a i{
  padding-right: 5%;
  margin-bottom: 5%;
}
}

/* Media query from 481px to 1024px */
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    max-width: 100%;
    margin: 0;
}

.bg{
  max-width: 100%;
}

/* CSS for logo to move it above navigation bar 
and nav bar is horizontally placed in a single row */
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.nav img {
  margin-right: 10px;
  margin-bottom: 6px;
  width: 100px;
  height: 100px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  margin-right: 2px;
}

.nav ul li a {
  text-decoration: none;
  color: white;
}

/* increasing the font sizes, margins and paddings of various elements*/
.display{
  padding: 10px;
}
.name{
  font-size: 35px;
}
h1, span{
  font-size: 32px;
}
article{
  margin: 60px;
}

/* One column with full width */
.grid-container{
  display: grid;
  grid-row: 1;
  grid-template-columns: 100%;
  order: 1;
}

/* Style for the grid items*/
.grid-item {
  margin-top: 10px;
  padding: 10px;
  color: #005B41;
  font-size: larger;
  line-height: 150%;
}

/* CSS to format images*/
.centered-image {
  width: 400px;
  display: block;
  margin: 0 auto;
}

/* increasing the font sizes, margins and paddings of various elements*/
.grid-item p{
  margin-left: 60px;
  margin-right: 60px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.container h1{
  font-size: 25px;
}

.timeline ul{
  margin: 10px;
}

/* Headings styling */
.heading {
  font-size: 35px;
  line-height: 140%;
  margin-top: 0;
  margin-bottom: 8%;
  text-align: center;
}

.main-heading {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  padding: 8%;
  background-color: #196d22;
  margin-bottom: 0%;
  margin-top: 0%;
  text-align: center;
  text-transform: uppercase;
}

/* increasing the paddings */
.aside .right-align, .left-align{
  margin: 50px;
}

/* Right-aligned text styling */
.right-align {
  margin: 45px;
  padding: 20px;
  font-size: 18px;
  line-height: 150%;
}

/* Left-aligned text styling */
.left-align {
  margin: 45px;
  padding: 20px;
  font-size: 18px;
  line-height: 150%;
}

/* Image styling */
aside img {
  padding-top: 8%;
  padding-bottom: 0;
}

/* buttons 1 and 2 styling */
.button {
  float: right;
  border: none;
  background-color: green;
  text-align: center;
  font-size: 20px; 
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border-color: #04AA6D 2px solid;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  text-decoration: none;
}

.button2 {
  border: none;
  background-color: green;
  text-align: center;
  font-size: 20px; 
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border-color: #04AA6D 2px solid;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  text-decoration: none;
}

/* Gallery styling */
.gallery{
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  padding: 5%;
  background-color: #196d22;
  margin-bottom: 0%;
  margin-top: 20%;
  text-align: center;
}

/* items displayed in two columns with equal width */
.row {
  display: grid;
  grid-row: 2;
  grid-template-columns: 50% 50%; 
  grid-gap: 8px; 
  margin-right: 18px;
}

.column {
  padding: 5px;
}

/* Additional styling for images */
.gallery-pic {
  width: 100%;
  height: 200px;
}

.gallery-pic {
  width: 100%;
  height: auto; 
}

/* Footer CSS to make them appear in a single cloumn */
.row1 ul {
  justify-content: center;
  display: flex;
  flex-direction: row; 
  padding: 0; 
}

.row1 ul li {
  text-align: center; 
  margin: 10px 0; 
}

.row1 ul li a{
  font-size: 16px;
}

.row1 p{
  font-size: 14px;
  text-align: center; 
  margin: 10px;
}

.row1 a i{
  font-size: 2em;
  margin: 0% 1%;
}
}

/* Media query for above 1024px */
/* Original CSS is effective here */
@media screen and (min-width: 1025px) {
  body {
    max-width: 100%;
      margin: 0;
  }

}